{% load tz %}


<table>
    <tr>
        <td>
            {% get_current_timezone as TIME_ZONE %}
            <form action="" method="POST">
                {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <select name="timezone">
                    {% for tz in timezones %}
                        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set">
            </form>
        </td>
        <td> </td>
        <td>
            {% get_current_timezone as TIME_ZONE %}
            <span>{{ current_time|timezone:TIME_ZONE|date:"l d M Y H:i" }}</span>
        </td>
    </tr>
</table>